<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>

              <ul>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>

                <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>

              </li>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>

              <%= link_to(destroy_user_session_path, {:class => "nav-link", :method => :delete}) do  %>
      <span class="sidebar-normal"> Logout </span>
<% end %>


              </li>
            <%end%>


          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

      <div class="container"></div>
<br>
<br>

<h1>Registrarse en la Biblioteca</h1>

<div class="card">
  <div class="card-header">
    <h4>Registrar usuario</h4>
  </div>
  <div class="card-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email"  %>
  </div>

  <div class="field form-group">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> como minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Contraseña"  %>
  </div>

  <div class="field form-group">
    <%= f.label :Confirmar_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmar contraseña"  %>
  </div>

  <div class="actions">
    <%= f.submit "Confirmar registro", class:
    "btn btn-secondary" %>
  </div>
<% end %>
  </div>
</div>
