<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> - Datos pendientes o erroneos:</h2>


    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :ISBN_del_Libro, class:"form-control", placeholder:"Libro"  %>
    <%= form.number_field :book_id %>
  </div>

  <div class="field form-group">
    <%= form.label :DNI, class:"form-control", placeholder:"DNI"  %>
    <%= form.number_field :user_dni %>
  </div>

  <div class="field form-group">
    <%= form.label :reservado_el, class:"form-control", placeholder:"Fecha"  %>
    <%= form.datetime_select :start_booking %>
  </div>

  <div class="field form-group">
    <%= form.label :Fecha_desde, class:"form-control", placeholder:"Fecha"  %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field form-group">
    <%= form.label :Fecha_hasta, class:"form-control", placeholder:"Fecha"  %>
    <%= form.datetime_select :end_time %>
  </div>
<% if current_user && current_user.role == "Bibliotecario" %>
  <div class="field form-group">
    <%= form.label :Estado_de_la_reserva, class:"form-control", placeholder:"Fecha"  %>
    <%= form.radio_button :state, "Creada" %>
    <%= form.label :state, "Creada" %>
    <%= form.radio_button :state, "Confirmada  " %>
    <%= form.label :state, "Confirmada" %>
    <%= form.radio_button :state, "Prestado" %>
    <%= form.label :state, "Prestado" %>
    <%= form.radio_button :state, "Vencido" %>
    <%= form.label :state, "Vencido" %>
    <%= form.radio_button :state, "Devuelto" %>
    <%= form.label :state, "Devuelto" %>
    <%= form.radio_button :state, "Rechazada" %>
    <%= form.label :state, "Rechazada" %>
<% end %>
  <div class="actions">
    <%= form.submit :"Guardar cambios"%>
  </div>
<% end %>
