<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>
              <li {padding-bottom: 2px;}>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </li>
              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>
                 <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>
              </li>
            <%end%>

          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

    <main class="container" role="main">
      <div class="jumbotron">
        <p class="lead">Bienvenido</p>
        <a class="btn btn-lg btn-primary" href="https://isfdyt210-bue.infd.edu.ar/sitio/" target="_blank" role="button">Ir a Instituto 210 &raquo;</a>
        <br>
      </div>

<h1>Lista de reservas</h1>

<table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>ISBN del Libro</th>
        <th>DNI del solicitante</th>
        <th>Reserva creada el</th>
        <th>Fecha desde</th>
        <th>Fecha hasta</th>
        <th>Estado de la reserva</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.book_id %></td>
          <td><%= booking.user_dni %></td>
          <td><%= booking.start_booking %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_time %></td>
          <td><%= booking.state %></td>
          <% if current_user && current_user.role == "Bibliotecario" %>
          <td><%= link_to 'Editar', edit_booking_path(booking), class: "btn btn-secondary btn-user active" %></td>
            <td><%= button_to 'Eliminar', booking, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger btn-user active"%></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
</table>



<%= link_to 'Nueva reserva', new_booking_path %>
<br>
<%= link_to 'Lista de libros', books_path %>
<br>
<% if current_user && current_user.role == "Bibliotecario" %>
<%= link_to 'Lista de usuarios', users_path %>
<% end %>
