<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
  <%= csrf_meta_tag %>
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>
              <li {padding-bottom: 2px;}>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </li>
              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>
                 <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>
              </li>
            <%end%>

          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>
<br>
<br>
<p>
  <strong>ISBN del libro:</strong>
  <%= @booking.book_id %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @booking.user_dni %>
</p>

<p>
  <strong>Fecha de reserva:</strong>
  <%= @booking.start_booking %>
</p>

<p>
  <strong>Fecha desde:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>Fecha hasta:</strong>
  <%= @booking.end_time %>
</p>

<p>
  <strong>State:</strong>
  <%= @booking.state %>
</p>

<%= link_to 'Editar reserva', edit_booking_path(@booking) %> |
<%= link_to 'Ir a lista de reservas', bookings_path %>
