<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :Nombre, class:"form-control", placeholder:"Nombre" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field form-group">
    <%= form.label :Apellido, class:"form-control", placeholder:"Apellido" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field form-group">
    <%= form.label :dni, class:"form-control", placeholder:"DNI" %>
    <%= form.number_field :dni %>
  </div>

  <div class="field form-group">
    <%= form.label :Telefono, class:"form-control", placeholder:"Telefono" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field form-group">
    <%= form.label :email, class:"form-control", placeholder:"Email" %>
    <%= form.text_field :email %>
  </div>


  <div class="field form-group">
    <%= form.radio_button :role, "Usuario" %>
    <%= form.label :Rol, "Usuario" %>
    <%= form.radio_button :role, "Bibliotecario" %>
    <%= form.label :Rol, "Bibliotecario" %>
  </div>
  <div class="actions">
    <%= form.submit :"Guardar cambios" %>
  </div>
<% end %>
