<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>
              <li {padding-bottom: 2px;}>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </li>
              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>
                 <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>
              </li>
            <%end%>

          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

    <main class="container" role="main">
      <div class="jumbotron">
        <p class="lead">Bienvenido</p>

      </div>
<h1>Editando usuario</h1>

<%= render 'form', user: @user %>

<%= link_to 'Volver a Lista de usuarios', users_path %>
