<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>
              <li {padding-bottom: 2px;}>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </li>
              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>
                 <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>
              </li>
            <%end%>

          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

    <main class="container" role="main">
      <div class="jumbotron">
        <p class="lead">Bienvenido</p>
        <a class="btn btn-lg btn-primary" href="https://isfdyt210-bue.infd.edu.ar/sitio/" target="_blank" role="button">Ir a Instituto 210 &raquo;</a>
        <br>
      </div>

<h1>Usuarios</h1>
<h6> Si usted no tiene permisos de Bibliotecario no visualizara ningun usuario registrado </h6>
  <% if current_user && current_user.role == "Bibliotecario" %>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Dni</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.dni %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-secondary active" %></td>
        <td><%= button_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger btn-user active" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<br>
<%= link_to 'Lista de libros', books_path %>
<br>
<%= link_to 'Lista de reservas', bookings_path %>

<br>
