<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>
              <li {padding-bottom: 2px;}>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </li>
              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>
                 <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>
              </li>
            <%end%>

          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>



<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @user.dni %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver a Usuarios', users_path %>
