<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>
              <li {padding-bottom: 2px;}>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </li>
              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>
                <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>
              </li>
            <%end%>
          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

    <main class="container" role="main">
      <div class="jumbotron">
        <p class="lead">Bienvenido</p>
        <a class="btn btn-lg btn-primary" href="https://isfdyt210-bue.infd.edu.ar/sitio/" target="_blank" role="button">Ir a Instituto 210 &raquo;</a>
        <br>
      </div>

      <div class="container"></div>
      <br>
      <p class="lead">Bienvenido a la Biblioteca Virtual</p>
      <% if current_user%>
      <div class="row"><div class="col-md-4"><h2><%=link_to 'Ver libros del Instituto', books_path%></h2><p>Aqui se puede visualizar el catalogo completo de los libros que dispone la biblioteca de Instituto.<a href="http://localhost:3000/books" target="_blank"><img class="img-fluid mt-3" src="https://okdiario.com/img/2018/04/23/bibliosmia--adoras-el-olor-a-libros-viejos-2.jpg"></a></p></div>
      <div class="col-md-4"><h2><%= link_to 'Realizar una reserva', new_booking_path %></h2><p>En esta seccion usted podra reservar un libro  .<a href="http://localhost:3000/bookings/new" target="_blank"><img class="img-fluid mt-2" src="https://images-na.ssl-images-amazon.com/images/I/71tlSeUFAyL._AC_SL1500_.jpg"></a></p></div>
      <div class="col-md-4"><h2><%= link_to 'Lista de reservas', bookings_path %></h2><p>Al ingresar a este apartado podra ver las reservas generadas por los distintos usuarios del Instituto<a href="http://localhost:3000/bookings" target="_blank"><img class="img-fluid mt-2" src="http://factorypyme.thestandardit.com/wp-content/uploads/sites/5/2016/05/Agenda-las-5.jpg"></a></p></div>
      <% end %>

      <% if current_user && current_user.role == "Bibliotecario" %>
      <div class="row justify-content-center"><div class="col-md-4"><h2><%= link_to 'Lista de usuarios', users_path %></h2><p>Seccion para administrador. Se encarga de la gestion de usuarios que se registran en la plataforma.<a href="http://localhost:3000/users" target="_blank"><img class="img-fluid mt-3" src="https://previews.123rf.com/images/cienpies/cienpies1211/cienpies121100002/16307604-personas-diversidad-de-usuarios-conectados-a-las-redes-sociales-de-fondo-sin-fisuras-patr%C3%B3n-en-el-estil.jpg"></a></p></div>

      <% end %>
    <footer></footer><div class="container"><div align="center">Desarrollado por <a href="https://gitlab.com/BracIvan" target="_blank">Ivan Brac</a></div></div>

    <br><br>
