<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :Nombre, class:"form-control", placeholder:"Email" %>
    <%= form.text_field :name %>
  </div>

  <div class="field form-group">
    <%= form.label :ISBN, class:"form-control", placeholder:"Email" %>
    <%= form.number_field :isbn %>
  </div>

  <div class="field form-group">
    <%= form.label :Autor, class:"form-control", placeholder:"Email" %>
    <%= form.text_field :author %>
  </div>

  <div class="field form-group">
    <%= form.label :Año, class:"form-control", placeholder:"Email" %>
    <%= form.number_field :year %>
  </div>

  <div class="field form-group">
    <%= form.label :editorial, class:"form-control", placeholder:"Email" %>
    <%= form.text_field :editorial %>
  </div>


  <div class="actions">
    <%= form.submit :"Guardar cambios" %>
  </div>
<% end %>
