<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
  <%= csrf_meta_tag %>
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>
              <li {padding-bottom: 2px;}>
                 <%=link_to 'Iniciar sesion', "http://localhost:3000/users/sign_in"%>
              </li>
              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>
                 <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>
              </li>
            <%end%>

          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

    <main class="container" role="main">
      <div class="jumbotron">
        <p class="lead">Bienvenido</p>
        <a class="btn btn-lg btn-primary" href="https://isfdyt210-bue.infd.edu.ar/sitio/" target="_blank" role="button">Ir a Instituto 210 &raquo;</a>
        <br>
      </div>

<p id="notice"><%= notice %></p>


<h1>Libros</h1>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>ISBN</th>
      <th>Año</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= book.year %></td>
        <td><%= book.author %></td>
        <td><%= book.editorial %></td>
        <% if current_user && current_user.role == "Bibliotecario" %>
        <td><%= link_to 'Editar', edit_book_path(book), class: "btn btn-secondary active" %></td>
        <td><%= button_to 'Eliminar', book, method: :delete, data: { confirm: 'Desea eliminar este libro?'}, class: "btn btn-danger btn-user active"  %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.role == "Bibliotecario" %>

<%= link_to 'Nuevo libro', new_book_path %>
<br>

<%= link_to 'Lista de usuarios', users_path %>
<% end %>
<br>
<%= link_to 'Lista de reservas', bookings_path %>
