<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="http://localhost:3000/">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <ul class="nav navbar-top-links navbar-right">
            <% unless current_user.present? %>

              <ul>
                 <%=link_to 'Registrarse', "http://localhost:3000/users/sign_up"%>
              </ul>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>

                <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>

              </li>
            <%end%>
            <% if current_user.present? %>
              <li{padding-bottom: 2px;}>

              <%= link_to(destroy_user_session_path, {:class => "nav-link", :method => :delete}) do  %>
      <span class="sidebar-normal"> Logout </span>
<% end %>


              </li>
            <%end%>


          </ul>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

      <div class="container"></div>
<br>
<br>
<h1>Iniciar sesion</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email"   %>
  </div>

  <div class="field">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Contraseña "   %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Recordarme
      </label>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Conectarse" %>
  </div>
<% end %>
